.blog-content {

  // blog post title:
  h2 a.blog-link {
    text-decoration: none;
    text-transform: lowercase;
    color: #777;
    // font-family: 'Oswald', sans-serif;
    &:hover {
      color: #555;
    }
  }

  // archive title styles:
  h2.archive-section {
    font-size: 19px;
    color: $orangey;
  }

  // blog subheading style
  h3 {
    color: #777 !important;
    // font-family: 'Oswald', sans-serif !important;
  }

  div.nav-previous.alignleft,
  div.nav-next.alignright {
    display: inline;
    font-weight: bold;
    padding: 8px;
  }

  div.pagination-div {
    text-align: center;
    margin-top: 15px;
  }

  blockquote {
    font-size: 14px;
    margin: 20px 0 20px 40px;
    @media screen and (max-width: 991px) {
      margin: 20px 0 20px 10px;
    }
  }

  /*comment styles******************************/

  div#respond h3 {
    text-transform: lowercase;
    font-size: 18px;
    // font-family: 'Oswald', sans-serif;
    color: #777;
  }

  cite.fn {
    font-style: normal;
    font-weight: bold;
  }

  div.comment-meta a {
    color: #777;
  }

  .comment-body {
    margin-bottom: 15px;
    border-bottom: 1px dashed #ddd;
    p {
      padding-top: 8px;
    }
  }

  ol.commentlist,
  ul.children {
    list-style: none;
  }

  ol.commentlist {
    padding-left: 0;
  }





}
