// button for contact page AND for blog comments
input[type="submit"] {
  background-color: #337ab7;
  border: none;
  padding: 10px 18px;
  color: #fff;
  margin-top: 4px;
  letter-spacing: 1px;
}
