.soundcloud {
  color: #777;
  margin-top: 25px;
  a {
    color: $orangey;
  }
}

.mellow-title {
  font-weight: 200;
  color: #777;
  padding-bottom: 7px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #bbb;
  max-width: 300px;
}

// headings for song titles:
h5 {
  font-weight: bold;
}

audio {
  @media (max-width: 670px) {
      margin-bottom: 8px;
  }
}
