html, body {
  overflow-x: hidden;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 35px;
  /* adjust footer height */
  margin-bottom: 60px;
}

.container {
  padding: 35px 15px 0;
}

h5 {
  font-weight: bold;
}

/*increase size of all paragraph elements*/
p {
  font-size: 15px;
}

.spacer {
  margin-top: 45px;
}

.last-paragraph {
  padding-bottom: 50px;
}
