.aes-button {
  width: 100%;
  max-width: 300px;
  margin-top: 25px;
  padding: 10px;
}

.soundcloud {
  color: #777;
  margin-top: 25px;
  a {
    color: #f50;
  }
}

.mellow-title {
  font-weight: 200;
  color: #777;
  padding-bottom: 7px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #bbb;
  max-width: 300px;
}
